# Задание

In [2]:
import pandas as pd
data = pd.read_csv('../datasets/kaggle_survey_2022_responses.csv') 
data['Q29'].head(10)

/var/folders/zz/zyxvpxvq6csfxvn_n0002glm000lwx/T/ipykernel_68864/736562937.py:2: DtypeWarning: Columns (0,208,225,255,257,260,270,271,277) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('../datasets/kaggle_survey_2022_responses.csv')

0    What is your current yearly compensation (appr...
1                                                  NaN
2                                                  NaN
3                                                  NaN
4                                        25,000-29,999
5                                                  NaN
6                                                  NaN
7                                                  NaN
8                                      100,000-124,999
9                                      100,000-124,999
Name: Q29, dtype: object

## Задание 1

Узнай самый часто встречаемый возраст респондентов

In [42]:
data['Q2'].value_counts().head(1)

18-21    4559
Name: Q2, dtype: int64

## Задание 2

Посчитай долю женщин среди русских участником опроса, которые уже не студенты. Результат округли до 2х цифры после запятой

In [73]:
count1 = 0
data_wom = data[
    (data['Q3'].str.contains('Woman')) &
    (data['Q4'].str.contains('Russia')) &
    (data['Q5'] == 'No')
]
count1 = data_wom.shape[0] - 1
data_all = data[
    (data['Q4'].str.contains('Russia')) &
    (data['Q5'] == 'No')
]
count_all = data_all.shape[0]-1
print('%.2f' % (count1/count_all*100))

23.31

## Задание 3

Найди среднее время заполнения опроса в **минутах**. Результат округли до 2х знаков после запятой

In [177]:
sred = 0
dur_list = pd.to_numeric(data['Duration (in seconds)'], errors='coerce', downcast='integer')
iterat = dur_list.shape[0]
for i in range(1,iterat):
    sred =sred + dur_list[i]
print('%.2f' % (sred/(iterat-1)))

10090.10

## Задание 4

Выведи топ-3 образовательных курса, которые указали респонденты. P.S Это вопрос Q6

In [189]:
q6_columns = [col for col in data.columns if col.startswith('Q6')]
Courses = data[q6_columns].melt(var_name='вопрос', value_vars=q6_columns)
Courses['value'].value_counts().iloc[:3]

Coursera                                                 9699
University Courses (resulting in a university degree)    6780
Kaggle Learn Courses                                     6628
Name: value, dtype: int64

## Задание 5

Узнай топ-5 языков программирования, которые регулярно используют Data Scientists в своей работе

In [374]:
q12_columns = [col for col in data.columns if col.startswith('Q12')]
Courses = data[q12_columns].melt(var_name='вопрос', value_vars=q12_columns)
Courses['value'].value_counts().iloc[:5]

Python    18653
SQL        9620
R          4571
C++        4549
Java       3862
Name: value, dtype: int64

## Задание 6

Узнай средний доход 'Data Scientist' и 'Machine Learning/ MLops Engineer' \
Т.к в колонке Q29 у на промежуток, то возьмите среднее значение из промежкутка. Например '15,000-19,999' - 17500, '125,000-149,999' - 137500. >$1,000,000 - оставляем 1000000

In [29]:
def get_income(x):
    if type(x) is str:
        i = 0
        value_1 = ""
        value_2 = ""
        metka = 0
        while i != len(x):
            if (x[i]=='-'):
                metka = 1
                break
            i = i + 1
        for j in range(0,i):
            if x[j].isdigit():
                value_1 = value_1 + x[j]
        value_2 = value_1
        if metka == 1:
            value_2 = ""
            for j in range(i,len(x)):
                if x[j].isdigit():
                    value_2 = value_2 + x[j]
        res = (float(value_1) + float(value_2)+metka)/ 2
    else:
        res = -1
    return res

In [38]:
import math
scienc = 0
science_it = 0
ml = 0
ml_it = 0
iterat = data.shape[0]
for index in range(0,iterat-1):
    if data['Q23'].iloc[index] == "Data Scientist":
        if get_income(data['Q29'].iloc[index])!= -1:
            science_it = science_it + 1
            scienc = scienc + get_income(data['Q29'].iloc[index])
    if data['Q23'].iloc[index] == "Machine Learning/ MLops Engineer":
        if get_income(data['Q29'].iloc[index])!=-1:
            ml_it = ml_it + 1
            ml = ml + get_income(data['Q29'].iloc[index])
print(round(scienc/science_it))
print(round(ml/ml_it))

70337
67438

## Задание 7 - Дополнительное задание

Найдите какой-нибудь интересный инсайт из этих данных. Пишите свои интересные инсайты в чат проекта с хэштегом.
#инсайт

Автор самого интересного инсайта получит p2p баллы. Поверь, они тебе понадобятся

In [10]:
# Код тут